<header>
  <h1>Hacker News</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#">login</a>
  </p>
</header>


<div class='post-container'>
    <%= erb :'/posts/_post_list', locals: {posts: @post} %>
</div>

<div class='js--new-post-form'>
  <form id="posts" method="post" action="/posts">
    <input type="text" name="title" placeholder="title">
    <input type="submit" value="submit new post">
  </form>
</div>
